<ul>
	<% @events.each do |e| %>
	<li>
		<span class="date"><%= e.date.strftime '%B %e, %Y' %></span>
		<span class="desc"><%= e.description %></span>	
		<%= hidden_field_tag "lat#{e.id}", e.lat, :class => 'lat' %>
		<%= hidden_field_tag "lng#{e.id}", e.lng, :class => 'lng' %>
	</li>
	<% end -%>
</ul>
